---
import general from '../../../content/general.json'
import IconGithub from '../../core/icons/IconGithub'
import IconLinkedin from '../../core/icons/IconLinkedin'
import LinkIcon from '../../core/ui/LinkIcon.astro'
import Title from '../../home/ui/Title.astro'
const { header, social } = general
const { title, subtitle, paragraph, img } = header
---

<header id='home' class='bg-white/60'>
  <article class='flex flex-col-reverse lg:flex-row items-center p-4 gap-8 max-w-350 mx-auto h-screen justify-evenly'>
    <section class='flex flex-col gap-4'>
      <section>
        <Title title={title} subtitle={subtitle} />
      </section>
      {paragraph.map((el) => <p class='prose'>{el}</p>)}
      <ul class='flex gap-4'>
        <LinkIcon href={social.github.url} ariaLabel={social.github.ariaLabel}><IconGithub size='2rem' slot='icon' /></LinkIcon>
        <LinkIcon href={social.linkedin.url} ariaLabel={social.linkedin.ariaLabel}><IconLinkedin size='2rem' slot='icon' /></LinkIcon>
      </ul>
    </section>

    <img src={img.url} alt={img.alt} class='block max-w-90 object-cover rounded-2xl shadow-lg shadow-gray-600/60' />
  </article>
</header>
