---
import Title from '../../core/ui/Title.astro'
import IconGithub from '../../core/icons/IconGithub'
import IconLinkedin from '../../core/icons/IconLinkedin'
import LinkIcon from '../../core/ui/LinkIcon.astro'
import { WEBSITE_HEADER, WEBSITE_SOCIAL } from '../../../utils/constants/website'
const { title, subtitle, paragraph, img } = WEBSITE_HEADER
---

<header id='home' class='bg-white/60 dark:bg-black/40 backdrop-blur-md border-b-2 border-primary min-h-screen flex items-center'>
  <article class='flex flex-col-reverse lg:flex-row items-center p-4 pt-10 gap-8 max-w-350 mx-auto h-screen justify-evenly'>
    <section class='flex flex-col gap-4'>
      <section>
        <Title title={title} subtitle={subtitle} />
      </section>
      {paragraph.map((el) => <p class='prose dark:prose-invert'>{el}</p>)}
      <ul class='flex gap-4'>
        <LinkIcon href={WEBSITE_SOCIAL.github.url} ariaLabel={WEBSITE_SOCIAL.github.ariaLabel}><IconGithub size='2rem' slot='icon' /></LinkIcon>
        <LinkIcon href={WEBSITE_SOCIAL.linkedin.url} ariaLabel={WEBSITE_SOCIAL.linkedin.ariaLabel}><IconLinkedin size='2rem' slot='icon' /></LinkIcon>
      </ul>
    </section>

    <img src={img.url} alt={img.alt} class='block max-w-70 md:max-w-80 object-cover rounded-full shadow-lg shadow-gray-700/40' />
  </article>
</header>
