---
import { PROJECTS_HIGHLIGHT } from '../../../utils/constants/projectsData'
import Title from '../../home/ui/Title.astro'
import ProjectCard from '../../core/ui/ProjectCard'
import general from '../../../content/general.json'
const { title, subtitle, paragraph } = general.project
---

<article id='projects' class='pt-12 test pb-8'>
  <article class='flex flex-col gap-4 max-w-350 mx-auto py-8 px-4'>
    <Title title={title} subtitle={subtitle} />

    <section>
      {paragraph.map((text) => <p class='prose'>{text}</p>)}
    </section>
    <section class='grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-6 w-full items-stretch'>
      {PROJECTS_HIGHLIGHT.map((el) => <ProjectCard image={el.image} title={el.title} description={el.description} technologies={el.technologies} link={el.url} ariaLabel={el.ariaLabel} client:load />)}
    </section>
    <section class='flex justify-end'>
      <a href='/all_projects' class='shadow shadow-gray-600/40 px-4 py-1 rounded-lg bg-primary/40 hover:bg-primary hover:text-white hover:scale-102 active:scale-95 transition-all duration-250'>
        More Projects
      </a>
    </section>
  </article>
</article>
