---
import Layout from '../layouts/Layout.astro'
import Title from '../components/core/ui/Title.astro'
import ProjectCard from '../components/core/ui/ProjectCard'
import IconBackUp from '../components/core/icons/IconBackUp'
import { ALL_PROJECTS } from '../utils/constants/projects'
import { WEBSITE_ALL_PROJECTS } from '../utils/constants/website'
const { title, subtitle, paragraph } = WEBSITE_ALL_PROJECTS
---

<Layout>
  <header class='bg-white/60 dark:bg-black/60 shadow shadow-primary p-2 fixed w-full top-0 z-10 backdrop-blur-xl'>
    <article class='max-w-350 mx-auto flex items-center justify-start'>
      <a href='/#projects' class='hover:text-primary p-2' aria-label='Go back to home page' title='Go back to home page'>
        <IconBackUp size='2rem' />
      </a>
    </article>
  </header>

  <main class='max-w-350 mx-auto py-12 pt-25 px-4 flex flex-col gap-8'>
    <header class='flex flex-col gap-2'>
      <section>
        <Title title={title} subtitle={subtitle} />
      </section>
      {paragraph.map((text) => <p class='prose dark:prose-invert'>{text}</p>)}
    </header>

    <article class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4'>
      {
        ALL_PROJECTS.map((project) => (
          <ProjectCard image={project.image} title={project.title} description={project.description} technologies={project.technologies} link={project.url} ariaLabel={project.ariaLabel} client:load />
        ))
      }
    </article>
  </main>
</Layout>
